<div class="container">
<h1 class="text-danger">Contact Us:</h1>
<h3 class="text-info">Address :- </h3>  
<pre class="text-warning"><h4>
#18, 2/3, Dr Rajkumar Road, 59a, 4n Block, 
Rajaji Nagar, Rajaji Nagar, Dr Rajkumar Rd, 
Udayam Nagar, Rajaji Nagar, Bengaluru, 
Karnataka 560010
India

Phone: 080-123456
cell: +919988776655
</h4>
</pre>
</div>
<center>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15550.622189753549!2d77.5561988472191!3d12.99386932360495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3df5bca92975%3A0xe3bd9309a9207e95!2sEffone+Technologies+Private+Limited!5e0!3m2!1sen!2sin!4v1493794076721" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<% image_tag "http://maps.google.com/maps/api/staticmap?size=1200x400&sensor=false&zoom=15.5&markers=#{12.9876536}%2C#{77.559936}" %>
</center>

<%= render partial: 'layouts/footer'%>

