<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to "Indian Red Cross", <%= @user.name %></h1>
    <h3> Somebody has need <%= @user.blood_group %> blood,
      if you are ready to give please reply us.
      <br>
    </h3>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>